In [1]:
# Imports - these are provided for you. Do not import any other packages.
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup as bs

In [2]:
'''
Part 1: Web Scraping (1.25 points)
1a) Web Scrape

We will first retrieve the contents on a page and examine them a bit.

Make a variable called wiki, that stores the following URL (as a string): 
-https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population-
https://en.wikipedia.org/w/index.php?title=List_of_U.S._states_and_territories_by_population&oldid=852357504

*** I've changed the url because it was updated and the table is different. 
In order to get the same results as the original assingment, I've looked for an older wikipedia version of the info ***

Now, to open the URL, use requests.get() and provide wiki as its input. Store this in a variable called page.

After that, make a variable called soup to parse the HTML using BeautifulSoup. 
Consider that there will be a method from BeautifulSoup that you’ll need to call on to get the content from the page.
'''

"\nPart 1: Web Scraping (1.25 points)\n1a) Web Scrape\n\nWe will first retrieve the contents on a page and examine them a bit.\n\nMake a variable called wiki, that stores the following URL (as a string): \n-https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population-\nhttps://en.wikipedia.org/w/index.php?title=List_of_U.S._states_and_territories_by_population&oldid=852357504\n\n*** I've changed the url because it was updated and the table is different. \nIn order to get the same results as the original assingment, I've looked for an older wikipedia version of the info ***\n\nNow, to open the URL, use requests.get() and provide wiki as its input. Store this in a variable called page.\n\nAfter that, make a variable called soup to parse the HTML using BeautifulSoup. \nConsider that there will be a method from BeautifulSoup that you’ll need to call on to get the content from the page.\n"

In [3]:
wiki = 'https://en.wikipedia.org/w/index.php?title=List_of_U.S._states_and_territories_by_population&oldid=852357504'
page = requests.get(wiki)
soup = bs(page.content, 'html.parser')

In [4]:
assert wiki
assert page
assert soup

In [5]:
'''
1b) Checking Scrape Contents

Extract the title from the page and save it in a variable called title_page.

Make sure you extract it as a string.

To do so, you have to use the soup object created in the above cell. 
Hint: from your soup variable, you can access this with .title.string.

Make sure you print out and check the contents of title_page.

Note that it should not have any tags (such as <title> included in it).
'''

'\n1b) Checking Scrape Contents\n\nExtract the title from the page and save it in a variable called title_page.\n\nMake sure you extract it as a string.\n\nTo do so, you have to use the soup object created in the above cell. \nHint: from your soup variable, you can access this with .title.string.\n\nMake sure you print out and check the contents of title_page.\n\nNote that it should not have any tags (such as <title> included in it).\n'

In [6]:
title_page = soup.title.string
print(title_page)

List of U.S. states and territories by population - Wikipedia

In [7]:
assert title_page
assert isinstance(title_page, str)

In [8]:
'''
1c) Extracting Tables

In order to extract the data we want, we’ll start with extracting a data table of interest.

Note that you can see this table by going to look at the link we scraped.

Use the soup object and call a method called find, which will find and extract the first table in the scraped webpage. 
Store this in the variable right_table.

Note: you need to search for the name table, and set the class_ argument as wikitable sortable.
'''

'\n1c) Extracting Tables\n\nIn order to extract the data we want, we’ll start with extracting a data table of interest.\n\nNote that you can see this table by going to look at the link we scraped.\n\nUse the soup object and call a method called find, which will find and extract the first table in the scraped webpage. \nStore this in the variable right_table.\n\nNote: you need to search for the name table, and set the class_ argument as wikitable sortable.\n'

In [9]:
right_table = soup.find(class_='wikitable')

In [10]:
assert right_table
assert isinstance(right_table, bs4.element.Tag)
assert right_table.name == 'table'

In [11]:
'''
Now, you’ll extract the data from the table into lists.

Note: This code is provided for you. Do read through it and try to see how it works.
'''

# CODE PROVIDED
# YOU SHOULD NOT HAVE TO EDIT
# BUT YOU WILL WANT TO UNDERSTAND
list_a, list_b, list_c = [], [], []

for row in right_table.findAll('tr'):
    
    cells = row.findAll('td')
    
    # Skips rows that aren't 10 columns long (like the heading)
    if len(cells) != 10:
        continue

    # This catches when the name cells stops having a link
    #  and ends, skipping the last (summary rows)
    try:
        list_a.append(cells[2].find('a').text.strip('\n'))
        list_b.append(cells[3].find(text=True).strip('\n'))
        list_c.append(cells[4].find(text=True).strip('\n'))
    except:
        break

In [12]:
'''
1d) Collecting into a dataframe

Create a dataframe my_df and add the data from the lists above to it.

list_a is the state or territory name. Set the column name as State, and make this the index
list_b is the population estimate. Add it to the dataframe, and set the column name as Population Estimate
list_c is the census population. Add it to the dataframe, and set the column name as Census Population
make sure to check the head of your dataframe to see that everything looks right! ie: my_df.head()
'''

'\n1d) Collecting into a dataframe\n\nCreate a dataframe my_df and add the data from the lists above to it.\n\nlist_a is the state or territory name. Set the column name as State, and make this the index\nlist_b is the population estimate. Add it to the dataframe, and set the column name as Population Estimate\nlist_c is the census population. Add it to the dataframe, and set the column name as Census Population\nmake sure to check the head of your dataframe to see that everything looks right! ie: my_df.head()\n'

In [13]:
data = {'State': list_a, 'Population Estimate': list_b, 'Census Population': list_c}
my_df = pd.DataFrame(data)
my_df = my_df.set_index('State')
my_df.head()

             Population Estimate Census Population
State
California            39,536,653        37,252,895
Texas                 28,304,596        25,146,105
Florida               20,984,400        18,804,623
New York              19,849,399        19,378,087
Pennsylvania          12,805,537        12,702,887

In [14]:
assert isinstance (my_df, pd.DataFrame)
assert my_df.index.name == 'State'
assert list(my_df.columns) == ['Population Estimate', 'Census Population']

In [15]:
'''
1e) Using the data

What is the Population Estimate of California? Save this answer to a variable called ca_pop 
Notes:

Extract this value programmatically from your dataframe (as in, don’t set it explicitly as ca_pop = 123)
You can use .loc to extract a particular value from a dataframe.
The data in your dataframe will be strings - that’s fine, leave them as strings (don’t typecast).
Strip any whitespace/newline characters from this string, if necessary. (rstrip() may be helpful)
'''

'\n1e) Using the data\n\nWhat is the Population Estimate of California? Save this answer to a variable called ca_pop \nNotes:\n\nExtract this value programmatically from your dataframe (as in, don’t set it explicitly as ca_pop = 123)\nYou can use .loc to extract a particular value from a dataframe.\nThe data in your dataframe will be strings - that’s fine, leave them as strings (don’t typecast).\nStrip any whitespace/newline characters from this string, if necessary. (rstrip() may be helpful)\n'

In [16]:
ca_pop = my_df.loc['California']['Population Estimate']
print(ca_pop)

39,536,653

In [17]:
assert ca_pop

In [18]:
'''
Part 2: Identifying Data (3 points)

Data Files:

anon_user_dat.json
employee_info.json

You will first be working with a file called ‘anon_user_dat.json’. 
This file contains information about some (fake) Tinder users. 
When creating an account, each Tinder user was asked to provide their first name, last name, 
work email (to verify the disclosed workplace), age, gender, phone # and zip code. 
Before releasing this data, a data scientist cleaned the data to protect the privacy of Tinder’s users 
by removing the obvious personal identifiers: phone #, zip code, and IP address. 
However, the data scientist chose to keep each users’ email addresses because when they visually skimmed 
a couple of the email addresses none of them seemed to have any of the users’ actual names in them. 
This is where the data scientist made a huge mistake!

We will take advantage of having the work email addresses by finding the employee information of 
different companies and matching that employee information with the information we have, 
in order to identify the names of the secret Tinder users!

2a) Load in the ‘cleaned’ data

Load the anon_user_dat.json json file into a pandas dataframe. Call it df_personal.
'''

'\nPart 2: Identifying Data (3 points)\n\nData Files:\n\nanon_user_dat.json\nemployee_info.json\n\nYou will first be working with a file called ‘anon_user_dat.json’. \nThis file contains information about some (fake) Tinder users. \nWhen creating an account, each Tinder user was asked to provide their first name, last name, \nwork email (to verify the disclosed workplace), age, gender, phone # and zip code. \nBefore releasing this data, a data scientist cleaned the data to protect the privacy of Tinder’s users \nby removing the obvious personal identifiers: phone #, zip code, and IP address. \nHowever, the data scientist chose to keep each users’ email addresses because when they visually skimmed \na couple of the email addresses none of them seemed to have any of the users’ actual names in them. \nThis is where the data scientist made a huge mistake!\n\nWe will take advantage of having the work email addresses by finding the employee information of \ndifferent companies and matching that employee information with the information we have, \nin order to identify the names of the secret Tinder users!\n\n2a) Load in the ‘cleaned’ data\n\nLoad the anon_user_dat.json json file into a pandas dataframe. Call it df_personal.\n'

In [19]:
df_personal = pd.read_json('anon_user_dat.json')

In [20]:
assert isinstance(df_personal, pd.DataFrame)

In [21]:
'''
2b) Check the first 10 emails

Save the first 10 emails to a Series, and call it sample_emails. You should then print out this Series. ( Use print() )

The purpose of this is to get a sense of how these work emails are structured and how we could possibly 
extract where each anonymous user seems to work.
'''

'\n2b) Check the first 10 emails\n\nSave the first 10 emails to a Series, and call it sample_emails. You should then print out this Series. ( Use print() )\n\nThe purpose of this is to get a sense of how these work emails are structured and how we could possibly \nextract where each anonymous user seems to work.\n'

In [22]:
df_personal.head()

   age                        email  gender
0   60  gshoreson0@seattletimes.com    Male
1   47           eweaben1@salon.com  Female
2   27      akillerby2@gravatar.com    Male
3   46            gsainz3@zdnet.com    Male
4   72     bdanilewicz4@4shared.com    Male

In [23]:
sample_emails = df_personal['email'][0:10]
print(sample_emails)

0    gshoreson0@seattletimes.com
1             eweaben1@salon.com
2        akillerby2@gravatar.com
3              gsainz3@zdnet.com
4       bdanilewicz4@4shared.com
5      sdeerness5@wikispaces.com
6         jstillwell6@ustream.tv
7         mpriestland7@opera.com
8       nerickssen8@hatena.ne.jp
9             hparsell9@xing.com
Name: email, dtype: object

In [24]:
'''
2c) Extract the Company Name From the Email

Create a function with the following specifications:

Function Name: extract_company
Purpose: to extract the company of the email (i.e., everything after the @ sign but before the first .)
Parameter(s): email (string)
Returns: The extracted part of the email (string)
Hint: This should take 1 line of code. Look into the find(‘’) method.
You can start with this outline:

    def extract_company(email):
        return
        
Example Usage:

extract_company(“larhe@uber.com”) should return “uber”
extract_company(“ds@cogs.edu”) should return “cogs”
'''

'\n2c) Extract the Company Name From the Email\n\nCreate a function with the following specifications:\n\nFunction Name: extract_company\nPurpose: to extract the company of the email (i.e., everything after the @ sign but before the first .)\nParameter(s): email (string)\nReturns: The extracted part of the email (string)\nHint: This should take 1 line of code. Look into the find(‘’) method.\nYou can start with this outline:\n\n    def extract_company(email):\n        return\n        \nExample Usage:\n\nextract_company(“larhe@uber.com”) should return “uber”\nextract_company(“ds@cogs.edu”) should return “cogs”\n'

In [25]:
def extract_company(email):
    company = []
    i = 0
    for c in email:
        if c == '@':
            start = i + 1
        elif c == '.':
            end = i
            break
        i += 1
    for n in range(start, end):
        company.append(email[n])
    return ''.join(company)

extract_company('gshoreson0@seattletimes.com')

'seattletimes'

In [26]:
assert extract_company("gshoreson0@seattletimes.com") == "seattletimes"
assert extract_company("amcgeffen1d@goo.ne.jp") == 'goo'

In [27]:
'''
With a little bit of basic sleuthing (aka googling) and web-scraping (aka selectively reading in html code) 
it turns out that you’ve been able to collect information about all the present employees/interns of the companies 
you are interested in. Specifically, on each company website, you have found the name, gender, and age of its employees. 
You have saved that info in employee_info.json and plan to see if, using this new information, 
you can match the Tinder accounts to actual names.

2d) Load in employee data

Load the json file into a pandas dataframe. Call it df_employee.
'''

'\nWith a little bit of basic sleuthing (aka googling) and web-scraping (aka selectively reading in html code) \nit turns out that you’ve been able to collect information about all the present employees/interns of the companies \nyou are interested in. Specifically, on each company website, you have found the name, gender, and age of its employees. \nYou have saved that info in employee_info.json and plan to see if, using this new information, \nyou can match the Tinder accounts to actual names.\n\n2d) Load in employee data\n\nLoad the json file into a pandas dataframe. Call it df_employee.\n'

In [28]:
df_employee = pd.read_json('employee_info.json')
df_employee.head()

   company first_name last_name  gender  age
0  123-reg  Inglebert  Falconer    Male   42
1      163     Rafael  Bedenham    Male   14
2      163     Lemuel      Lind    Male   31
3      163      Penny   Pennone  Female   45
4      163       Elva  Crighton  Female   52

In [29]:
assert isinstance(df_employee, pd.DataFrame)

In [30]:
'''
2e) Match the employee name with company, age, gender

Create a function with the following specifications:

Function name: employee_matcher
Purpose: to match the employee name with the provided company, age, and gender
Parameter(s): company (string), age (int), gender (string)
Returns: The employee first_name and last_name like this: return first_name, last_name
Note: If there are multiple employees that fit the same description, first_name and last_name 
should return a list of all possible first names and last names i.e., [‘Desmund’, ‘Kelby’], [‘Shepley’, ‘Tichner’]. 
Note that the names of the individuals that would produce this output are ‘Desmund Shepley’ and ‘Kelby Tichner’.
Hint: There are many different ways to code this. An inelegant solution is to loop through df_employee 
and for each data item see if the company, age, and gender match i.e.,

    for i in range(0, len(df_employee)):
              if (company == df_employee.loc[i,'company']):

However! The solution above is very inefficient and long, so you should try to look into this: 
Google the df.loc method: It extracts pieces of the dataframe if it fulfills a certain condition. i.e.,

    df_employee.loc[df_employee['company'] == company]

If you need to convert your pandas data series into a list, you can do list(result) where result is a pandas “series”

You can start with this outline:
'''

"\n2e) Match the employee name with company, age, gender\n\nCreate a function with the following specifications:\n\nFunction name: employee_matcher\nPurpose: to match the employee name with the provided company, age, and gender\nParameter(s): company (string), age (int), gender (string)\nReturns: The employee first_name and last_name like this: return first_name, last_name\nNote: If there are multiple employees that fit the same description, first_name and last_name \nshould return a list of all possible first names and last names i.e., [‘Desmund’, ‘Kelby’], [‘Shepley’, ‘Tichner’]. \nNote that the names of the individuals that would produce this output are ‘Desmund Shepley’ and ‘Kelby Tichner’.\nHint: There are many different ways to code this. An inelegant solution is to loop through df_employee \nand for each data item see if the company, age, and gender match i.e.,\n\n    for i in range(0, len(df_employee)):\n              if (company == df_employee.loc[i,'company']):\n\nHowever! The solution above is very inefficient and long, so you should try to look into this: \nGoogle the df.loc method: It extracts pieces of the dataframe if it fulfills a certain condition. i.e.,\n\n    df_employee.loc[df_employee['company'] == company]\n\nIf you need to convert your pandas data series into a list, you can do list(result) where result is a pandas “series”\n\nYou can start with this outline:\n"

In [31]:
def employee_matcher(company, age, gender):
    match = df_employee.loc[(df_employee['company'] == company) & (df_employee['age'] == age) & (df_employee['gender'] == gender)]
    last_name = list(match.last_name)
    first_name = list(match.first_name)
    return first_name, last_name

employee_matcher('google', 41, 'Male')

(['Maxwell'], ['Jorio'])

In [32]:
assert employee_matcher("google", 41, "Male") == (['Maxwell'], ['Jorio'])
assert employee_matcher("salon", 47, "Female") == (['Elenore'], ['Gravett'])
assert employee_matcher("webmd", 28, "Nonbinary") == (['Zaccaria'], ['Bartosiak'])

In [33]:
'''
2f) Extract all the private data

Create 2 empty lists called first_names and last_names
Loop through all the people we are trying to identify in df_personal
Call the extract_company function (i.e., extract_company(df_personal.loc[i, 'email']) )
Call the employee_matcher function
Append the results of employee_matcher to the appropriate lists (first_names and last_names)
'''

"\n2f) Extract all the private data\n\nCreate 2 empty lists called first_names and last_names\nLoop through all the people we are trying to identify in df_personal\nCall the extract_company function (i.e., extract_company(df_personal.loc[i, 'email']) )\nCall the employee_matcher function\nAppend the results of employee_matcher to the appropriate lists (first_names and last_names)\n"

In [34]:
first_names = []
last_names = []

for i in range(len(df_personal)):
    company = extract_company(df_personal.loc[i, 'email'])
    name = employee_matcher(company, df_personal.loc[i, 'age'], df_personal.loc[i, 'gender'])
    first_names.append(name[0])
    last_names.append(name[1])

In [35]:
assert first_names[45:50]== [['Justino'], ['Tadio'], ['Kennith'], ['Cedric'], ['Amargo']]
assert last_names[45:50] == [['Corro'], ['Blackford'], ['Milton'], ['Yggo'], ['Grigor']]

In [36]:
'''
2g) Add the names to the original ‘secure’ dataset!

We have done this last step for you below, all you need to do is run this cell.

For your own personal enjoyment, you should also print out the new df_personal with the identified people.

df_personal['first_name'] = first_names
df_personal['last_name'] = last_names

We have now just discovered the ‘anonymous’ identities of all the registered Tinder users…awkward.
'''

"\n2g) Add the names to the original ‘secure’ dataset!\n\nWe have done this last step for you below, all you need to do is run this cell.\n\nFor your own personal enjoyment, you should also print out the new df_personal with the identified people.\n\ndf_personal['first_name'] = first_names\ndf_personal['last_name'] = last_names\n\nWe have now just discovered the ‘anonymous’ identities of all the registered Tinder users…awkward.\n"

In [37]:
df_personal['first_name'] = first_names
df_personal['last_name'] = last_names
df_personal.head()

   age                        email  gender first_name    last_name
0   60  gshoreson0@seattletimes.com    Male   [Gordon]  [DelaField]
1   47           eweaben1@salon.com  Female  [Elenore]    [Gravett]
2   27      akillerby2@gravatar.com    Male     [Abbe]  [Stockdale]
3   46            gsainz3@zdnet.com    Male    [Guido]    [Comfort]
4   72     bdanilewicz4@4shared.com    Male    [Brody]   [Pinckard]

In [38]:
'''
Part 3: Anonymize Data (3.25 points)

You are hopefully now convinced that with some seemingly harmless data a hacker 
can pretty easily discover the identities of certain users. 
Thus, we will now clean the original Tinder data ourselves according to the Safe Harbor Method 
in order to make sure that it has been properly cleaned…

3a) Load in personal data

Load the user_dat.csv file into a pandas dataframe, being sure to read the zip codes (zip) in as a string.

Store this in df_users.
'''

'\nPart 3: Anonymize Data (3.25 points)\n\nYou are hopefully now convinced that with some seemingly harmless data a hacker \ncan pretty easily discover the identities of certain users. \nThus, we will now clean the original Tinder data ourselves according to the Safe Harbor Method \nin order to make sure that it has been properly cleaned…\n\n3a) Load in personal data\n\nLoad the user_dat.csv file into a pandas dataframe, being sure to read the zip codes (zip) in as a string.\n\nStore this in df_users.\n'

In [39]:
df_users = pd.read_csv('user_dat.csv', dtype={'zip':str})
df_users.head()

,age,email,first_name,gender,last_name,ip_address,phone,zip
0,53,co'kenny7a@netscape.com,Cecilla,Female,Seeler,187.127.90.23,(138)263-3068,01012
1,52,idrysdell2t@intel.com,Ingmar,Male,Maytum,156.241.220.163,(690)781-2853,01022
2,52,bllewellenqr@nhs.uk,Brynne,Female,Edmunds,60.255.124.196,(271)384-3572,01037
3,78,myo5x@wikia.com,Marieann,NaN,Dering,37.118.247.19,(754)752-5841,01086
4,19,bcashell74@themeforest.net,Burr,Male,Bathersby,201.167.247.226,(771)129-4587,01344

In [40]:
assert isinstance(df_users, pd.DataFrame)

In [41]:
'''
3b) Drop personal attributes

Remove any personal information, following the Safe Harbor method. Based on the Safe Harbor method, 
remove any columns from df_users that contain personal information.

Note that details on the Safe Harbor method are covered in the Tutorials.
'''

'\n3b) Drop personal attributes\n\nRemove any personal information, following the Safe Harbor method. Based on the Safe Harbor method, \nremove any columns from df_users that contain personal information.\n\nNote that details on the Safe Harbor method are covered in the Tutorials.\n'

In [42]:
df_users = df_users.drop(columns=['first_name', 'last_name', 'phone', 'email', 'ip_address'])

In [43]:
assert len(df_users.columns) == 3

In [44]:
'''
3c) Drop ages that are above 90

Safe Harbor rule C: Drop all the rows which have age greater than 90 from df_users.
'''

'\n3c) Drop ages that are above 90\n\nSafe Harbor rule C: Drop all the rows which have age greater than 90 from df_users.\n'

In [45]:
df_users = df_users.loc[df_users['age'] <= 90]

In [46]:
assert df_users.shape == (943, 3)

In [47]:
'''
3d) Load in zip code data

Load the zip_pop.csv file into a (different) pandas dataframe. Call it df_zip.

Note that the zip data should be read in as strings, not ints, as would be the default.

In read_csv, use the parameter dtype to specify to read zip as str, and population as int.
'''

'\n3d) Load in zip code data\n\nLoad the zip_pop.csv file into a (different) pandas dataframe. Call it df_zip.\n\nNote that the zip data should be read in as strings, not ints, as would be the default.\n\nIn read_csv, use the parameter dtype to specify to read zip as str, and population as int.\n'

In [48]:
df_zip = pd.read_csv('zip_pop.csv', dtype={'zip':str})

In [49]:
assert isinstance(df_zip, pd.DataFrame)

In [50]:
'''
3e) Sort zipcodes into “Geographic Subdivision”

The Safe Harbor Method applies to “Geographic Subdivisions” as opposed to each zipcode itself.

Geographic Subdivision: All areas which share the first 3 digits of a zip code

Count the total population for each geographic subdivision, storing the first 3 digits of the zip code and 
its corresponding population in the dictionary zip_dict. (For example, if there were 20 people whose zip code started with 090, 
the key-value pair in zip_dict would be {'090' : 20}.)

You may be tempted to write a gnarly loop to accomplish this. Avoid that temptation. 
Instead, you’ll want to be savy with a dictionary and groupby from pandas here.

To get you started…

If you wanted to group by whole zip code, you could use something like this:

df_zip.groupby(df_zip['zip'])

But, we don’t want to group by the entire zip code. Instead, we want to extract the first 3 digits of a zip code, 
and group by that.

To extract the first three digits, you could so something like the following:

df_zip['zip'].str[:3]

You’ll want to combine these two concepts, such that you store this information in a dictionary zip_dict, 
which stores the first three digits of the zip code as the key and the population of that 3-digit zip code as the value.

(If you’re stuck and/or to better understand how dictionaries work and how they apply to this concept, 
check the section materials, use google, and go to discussion sections!)
'''

"\n3e) Sort zipcodes into “Geographic Subdivision”\n\nThe Safe Harbor Method applies to “Geographic Subdivisions” as opposed to each zipcode itself.\n\nGeographic Subdivision: All areas which share the first 3 digits of a zip code\n\nCount the total population for each geographic subdivision, storing the first 3 digits of the zip code and \nits corresponding population in the dictionary zip_dict. (For example, if there were 20 people whose zip code started with 090, \nthe key-value pair in zip_dict would be {'090' : 20}.)\n\nYou may be tempted to write a gnarly loop to accomplish this. Avoid that temptation. \nInstead, you’ll want to be savy with a dictionary and groupby from pandas here.\n\nTo get you started…\n\nIf you wanted to group by whole zip code, you could use something like this:\n\ndf_zip.groupby(df_zip['zip'])\n\nBut, we don’t want to group by the entire zip code. Instead, we want to extract the first 3 digits of a zip code, \nand group by that.\n\nTo extract the first three digits, you could so something like the following:\n\ndf_zip['zip'].str[:3]\n\nYou’ll want to combine these two concepts, such that you store this information in a dictionary zip_dict, \nwhich stores the first three digits of the zip code as the key and the population of that 3-digit zip code as the value.\n\n(If you’re stuck and/or to better understand how dictionaries work and how they apply to this concept, \ncheck the section materials, use google, and go to discussion sections!)\n"

In [51]:
df_zip['zip'] = df_zip['zip'].str.slice(stop=3)
zip_dict = df_zip.groupby('zip')['population'].sum().to_dict()

In [52]:
assert isinstance(zip_dict, dict)
assert zip_dict['100'] == 1502501

In [53]:
'''
3f) Masking the Zip Codes

In this part, you should write a for loop, updating the df_users dataframe.

Go through each user, and update their zip code, to Safe Harbor specifications:

If the user is from a zip code for the which the “Geographic Subdivision” is less than equal to 20,000, 
change the zip code in df_users to ‘0’ (as a string)
Otherwise, zip should be only the first 3 numbers of the full zip code
Do all this by directly updating the zip column of the df_users DataFrame
Hints:

This will be several lines of code, looping through the DataFrame, getting each zip code, 
checking the geographic subdivision with the population in zip_dict, and setting the zip_code accordingly.
Be very aware of your variable types when working with zip codes here.

'''

'\n3f) Masking the Zip Codes\n\nIn this part, you should write a for loop, updating the df_users dataframe.\n\nGo through each user, and update their zip code, to Safe Harbor specifications:\n\nIf the user is from a zip code for the which the “Geographic Subdivision” is less than equal to 20,000, \nchange the zip code in df_users to ‘0’ (as a string)\nOtherwise, zip should be only the first 3 numbers of the full zip code\nDo all this by directly updating the zip column of the df_users DataFrame\nHints:\n\nThis will be several lines of code, looping through the DataFrame, getting each zip code, \nchecking the geographic subdivision with the population in zip_dict, and setting the zip_code accordingly.\nBe very aware of your variable types when working with zip codes here.\n\n'

In [54]:
for zipcode in df_users['zip']:
    if len(zipcode) != 3:
        short_zipcode = zipcode[:len(zipcode) - 2]
    if zip_dict[short_zipcode] <= 20000:
        df_users.loc[df_users['zip'] == zipcode, 'zip'] = '0'
    else:
        df_users.loc[df_users['zip'] == zipcode, 'zip'] = short_zipcode

In [56]:
'''
3g) Save out the properly anonymized data to json file

Save out df_users as a json file, called real_anon_user_dat.json
'''

'\n3g) Save out the properly anonymized data to json file\n\nSave out df_users as a json file, called real_anon_user_dat.json\n'

In [57]:
df_users.to_json('real_anon_user_dat.json')