In [1]:
'''
Q1: import (0.25 points)
Import the pandas package using its typical shortname, pd.

Import the numpy package using its typical shortname, np.
'''

'\nQ1: import (0.25 points)\nImport the pandas package using its typical shortname, pd.\n\nImport the numpy package using its typical shortname, np.\n'

In [2]:
import pandas as pd
import numpy as np

In [3]:
assert pd
assert np

In [4]:
'''
Q2: Read the data into Python (0.25 points)
To use the data, you’ll have to read it in as a Dataframe. Use the appropriate pandas import function to read in the file from the following repo: https://github.com/fivethirtyeight/data/tree/master/candy-power-ranking.

Note that URLs can be read in directly using pandas. The URL you’ll want to use to read the file in is: ‘https://raw.githubusercontent.com/fivethirtyeight/data/master/candy-power-ranking/candy-data.csv’.

Store this in the variable df.
'''

'\nQ2: Read the data into Python (0.25 points)\nTo use the data, you’ll have to read it in as a Dataframe. Use the appropriate pandas import function to read in the file from the following repo: https://github.com/fivethirtyeight/data/tree/master/candy-power-ranking.\n\nNote that URLs can be read in directly using pandas. The URL you’ll want to use to read the file in is: ‘https://raw.githubusercontent.com/fivethirtyeight/data/master/candy-power-ranking/candy-data.csv’.\n\nStore this in the variable df.\n'

In [5]:
df = pd.read_csv('candy-data.csv')
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [6]:
assert isinstance(df, pd.DataFrame)
assert df.shape == (85, 13)

In [7]:
'''
Q3: Data Summary (0.75 points)
After reading in a dataset, it’s often helpful to get a quick sense of what information is stored in the dataset. 
Here you’ll carry out a number of operations that you’ll carry out on almost every dataset you read into Python.
'''

'\nQ3: Data Summary (0.75 points)\nAfter reading in a dataset, it’s often helpful to get a quick sense of what information is stored in the dataset. \nHere you’ll carry out a number of operations that you’ll carry out on almost every dataset you read into Python.\n'

In [8]:
'''
Q3a: shape
One way to do that is to determine the shape of the dataset. This reports the number of rows and columns in the dataset. 
Store the shape of the candy dataset in the variable candy_shape.
'''

'\nQ3a: shape\nOne way to do that is to determine the shape of the dataset. This reports the number of rows and columns in the dataset. \nStore the shape of the candy dataset in the variable candy_shape.\n'

In [9]:
candy_shape = df.shape

In [10]:
assert candy_shape == (85, 13)

In [11]:
'''
Q3b: describe
pandas also has a very helfpul describe function which will provide some helpful summary statistics about your dataframe.

Use the describe function to calculate and display these summary statistics (You do not have to store the output):
'''

'\nQ3b: describe\npandas also has a very helfpul describe function which will provide some helpful summary statistics about your dataframe.\n\nUse the describe function to calculate and display these summary statistics (You do not have to store the output):\n'

In [12]:
df.describe

<bound method NDFrame.describe of                 competitorname  chocolate  fruity  caramel  peanutyalmondy  \
0                    100 Grand          1       0        1               0
1                 3 Musketeers          1       0        0               0
2                     One dime          0       0        0               0
3                  One quarter          0       0        0               0
4                    Air Heads          0       1        0               0
..                         ...        ...     ...      ...             ...
80                   Twizzlers          0       1        0               0
81                    Warheads          0       1        0               0
82        Welch's Fruit Snacks          0       1        0               0
83  Werther's Original Caramel          0       0        1               0
84                    Whoppers          1       0        0               0

    nougat  crispedricewafer  hard  bar  pluribus  sugarpercent  pricepercent  \
0        0                 1     0    1         0         0.732         0.860
1        1                 0     0    1         0         0.604         0.511
2        0                 0     0    0         0         0.011         0.116
3        0                 0     0    0         0         0.011         0.511
4        0                 0     0    0         0         0.906         0.511
..     ...               ...   ...  ...       ...           ...           ...
80       0                 0     0    0         0         0.220         0.116
81       0                 0     1    0         0         0.093         0.116
82       0                 0     0    0         1         0.313         0.313
83       0                 0     1    0         0         0.186         0.267
84       0                 1     0    0         1         0.872         0.848

    winpercent
0    66.971725
1    67.602936
2    32.261086
3    46.116505
4    52.341465
..         ...
80   45.466282
81   39.011898
82   44.375519
83   41.904308
84   49.524113

[85 rows x 13 columns]>

In [13]:
'''
Using the output you just generated, answer the following questions, storing the answer in the variable 
at the front of each question. (For example, if you thought the answer to the first question was A, 
you would include win_perc = 'A' in the cell below.)
win_perc : What is the highest overall win percentage among the candy included in this dataset?

A) 1.00

B) 98.8

C) 85.00

D) 84.18

E) Unable to determine

fruity : What proportion of the dataset is comprised of fruity candy?

A) 0

B) 0.45

C) 0.50

D) 85

E) Unable to determine
'''

"\nUsing the output you just generated, answer the following questions, storing the answer in the variable \nat the front of each question. (For example, if you thought the answer to the first question was A, \nyou would include win_perc = 'A' in the cell below.)\nwin_perc : What is the highest overall win percentage among the candy included in this dataset?\n\nA) 1.00\n\nB) 98.8\n\nC) 85.00\n\nD) 84.18\n\nE) Unable to determine\n\nfruity : What proportion of the dataset is comprised of fruity candy?\n\nA) 0\n\nB) 0.45\n\nC) 0.50\n\nD) 85\n\nE) Unable to determine\n"

In [14]:
win_perc_options = {'A': 1.00, 'B': 98.80, 'C': 85.00, 'D': 84.18}
max_win_percent = round(max(df['winpercent']),2)

try:
    for option in win_perc_options:
        if win_perc_options[option] == max_win_percent:
            win_perc = option
except:
    win_perc = 'E'

print(win_perc)
    
fruity_options = {'A': 0.00, 'B': 0.45, 'C': 0.50, 'D': 85.00}
fruity_proportion = round(sum(df['fruity'])/len(df.index),2)

try:
    for option in fruity_options:
        if fruity_options[option] == fruity_proportion:
            fruity = option
except:
    fruity = 'E'
    
print(fruity)

D
B

In [71]:
answers = ['A', 'B', 'C', 'D', 'E']
assert win_perc
assert fruity

In [72]:
assert win_perc in answers

In [73]:
assert fruity in answers

In [19]:
'''
Q3c: value_counts()
Using the value_counts() function, determine how many different possible values there are for the chocolate series 
in the df DataFrame and how many observations fall into each.

Store the output in the object chocolate_values.

Take a look at the output. Be sure you understand whether or not there are more chocolate (chocolate == 1) 
or nonchocolate candies (chocolate == 0) in the dataset from the output.
'''

'\nQ3c: value_counts()\nUsing the value_counts() function, determine how many different possible values there are for the chocolate series \nin the df DataFrame and how many observations fall into each.\n\nStore the output in the object chocolate_values.\n\nTake a look at the output. Be sure you understand whether or not there are more chocolate (chocolate == 1) \nor nonchocolate candies (chocolate == 0) in the dataset from the output.\n'

In [20]:
chocolate_values = df.value_counts('chocolate')

In [21]:
print(chocolate_values)

chocolate
0    48
1    37
dtype: int64

In [22]:
assert chocolate_values.loc[0] == 48

In [23]:
'''
Q3d: isna()
How many variables have missing data in this dataset? Store the value in the variable var_missing:
'''

'\nQ3d: isna()\nHow many variables have missing data in this dataset? Store the value in the variable var_missing:\n'

In [24]:
# determine which columns have missing data
df.isna().any()

competitorname      False
chocolate           False
fruity              False
caramel             False
peanutyalmondy      False
nougat              False
crispedricewafer    False
hard                False
bar                 False
pluribus            False
sugarpercent        False
pricepercent        False
winpercent          False
dtype: bool

In [25]:
var_missing = 0

In [26]:
assert isinstance(var_missing, (np.int64, int))

In [27]:
'''
Q4: replace (0.5 points)
To replace current values with different values dynamically, replace is very helpful.

To demonstrate this, if you wanted to replace the zeroes and ones in the current dataset with boolean values, 
true or false, you could do this using replace.

In df, replace 0 with False and 1 with True.

Store this output in df_bool.
'''

'\nQ4: replace (0.5 points)\nTo replace current values with different values dynamically, replace is very helpful.\n\nTo demonstrate this, if you wanted to replace the zeroes and ones in the current dataset with boolean values, \ntrue or false, you could do this using replace.\n\nIn df, replace 0 with False and 1 with True.\n\nStore this output in df_bool.\n'

In [28]:
df_bool = df.replace(to_replace=1, value=True)
df_bool = df_bool.replace(to_replace=0, value=False)

In [29]:
assert df_bool.shape == df.shape
assert df_bool.loc[1,'chocolate'] == True
assert df_bool.iloc[0,0] == '100 Grand'

In [30]:
'''
Q5: Column Operations (2.15 points)
Often we’re only interested in working with some columns in a larger dataset and it’s helpful to filter the dataset 
so that it only includes the columns we want. In these cases, we select the columns we’re interested in by specifying 
these columns and returning the output.

In pandas, there are a number of ways in which this can be done, but the most common is to specify a list of columns 
you want by name and in the order you want.

For example, for a dataframe (df) with five columns (‘A’, ‘B’, ‘C’, ‘D’, ‘E’), you could select columns ‘C’, ‘B’ and ‘A’ 
(in that order), using the following:

df[['C', 'B', 'A']]
'''

"\nQ5: Column Operations (2.15 points)\nOften we’re only interested in working with some columns in a larger dataset and it’s helpful to filter the dataset \nso that it only includes the columns we want. In these cases, we select the columns we’re interested in by specifying \nthese columns and returning the output.\n\nIn pandas, there are a number of ways in which this can be done, but the most common is to specify a list of columns \nyou want by name and in the order you want.\n\nFor example, for a dataframe (df) with five columns (‘A’, ‘B’, ‘C’, ‘D’, ‘E’), you could select columns ‘C’, ‘B’ and ‘A’ \n(in that order), using the following:\n\ndf[['C', 'B', 'A']]\n"

In [31]:
''' 
Q5a: selecting columns
For our candy dataset, we’re ultimately interested in determining the differences between chocolate and fruity candy.

To just get the data we’re interested in, return a DataFrame with the columns: competitorname, chocolate, fruity, hard, 
bar, pluribus, sugarpercent, pricepercent, and winpercent.

Store this output in df (overwriting the previous data stored in df).
'''

' \nQ5a: selecting columns\nFor our candy dataset, we’re ultimately interested in determining the differences between chocolate and fruity candy.\n\nTo just get the data we’re interested in, return a DataFrame with the columns: competitorname, chocolate, fruity, hard, \nbar, pluribus, sugarpercent, pricepercent, and winpercent.\n\nStore this output in df (overwriting the previous data stored in df).\n'

In [32]:
df = df[['competitorname', 'chocolate', 'fruity', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent', 'winpercent']]

In [33]:
assert df.shape == (85, 9)

In [34]:
'''
Q5b: Select by Data Type
For the df_bool dataset, we’re interested in selecting only the columns that are either a string (object) or a bool.

Use the pandas select_dtypes function to select those columns. Note, you’ll have to specify the include parameter.

Store this output in df_bool
'''

'\nQ5b: Select by Data Type\nFor the df_bool dataset, we’re interested in selecting only the columns that are either a string (object) or a bool.\n\nUse the pandas select_dtypes function to select those columns. Note, you’ll have to specify the include parameter.\n\nStore this output in df_bool\n'

In [35]:
df_bool = df_bool.select_dtypes(include=['object','bool'])

In [36]:
assert df_bool.shape == (85, 10)

In [37]:
'''
Q5c: Renaming Columns
Often, data have less than helpful column names. To make working with these data as simple as possible, 
it can be helpful to ensure that all columns have helpful column names. rename can help you do this

Generally there are three approaches to renaming columns:

Most flexible option: df = df.rename({'A':'a', 'B':'b'}, axis='columns')

Overwrite all column names: df.columns = ['a', 'b']

Apply string method: df.columns = df.columns.str.lower()

For our dataset in partciular, pluribus is not an ideal column name. Use approach 1 above to rename pluribus 
to multicandy_pack for both the df and df_bool dataframes
'''

"\nQ5c: Renaming Columns\nOften, data have less than helpful column names. To make working with these data as simple as possible, \nit can be helpful to ensure that all columns have helpful column names. rename can help you do this\n\nGenerally there are three approaches to renaming columns:\n\nMost flexible option: df = df.rename({'A':'a', 'B':'b'}, axis='columns')\n\nOverwrite all column names: df.columns = ['a', 'b']\n\nApply string method: df.columns = df.columns.str.lower()\n\nFor our dataset in partciular, pluribus is not an ideal column name. Use approach 1 above to rename pluribus \nto multicandy_pack for both the df and df_bool dataframes\n"

In [38]:
df = df.rename({'pluribus' : 'multicandy_pack'}, axis = 'columns')
df_bool = df_bool.rename({'pluribus' : 'multicandy_pack'}, axis = 'columns')

In [39]:
df.head()

,competitorname,chocolate,fruity,hard,bar,multicandy_pack,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0.906,0.511,52.341465

In [40]:
assert 'multicandy_pack' in df.columns
assert 'multicandy_pack' in df_bool.columns

In [41]:
'''
Q5d: Adding new columns
Often when working with data we need to add additional columns that use information from existing columns.

To do this, we typically use one of two approaches, summarized generally here:

assign

df.assign(new_col = df['col'] * val)
apply

for col in df.columns:
    df[f'{col}_new'] = df[col].apply(my_function)
For example, are there any candy in our dataset that are neither fruity nor chocolate?

Use assign to add a new column to df called fruity_choco that adds the value in chocolate to the value in fruity. 
This way, the value will be 0 if it is neither fruity nor chocolate, 1 if it is one or the other and 2 if it is both.

Store the output in df.
'''

"\nQ5d: Adding new columns\nOften when working with data we need to add additional columns that use information from existing columns.\n\nTo do this, we typically use one of two approaches, summarized generally here:\n\nassign\n\ndf.assign(new_col = df['col'] * val)\napply\n\nfor col in df.columns:\n    df[f'{col}_new'] = df[col].apply(my_function)\nFor example, are there any candy in our dataset that are neither fruity nor chocolate?\n\nUse assign to add a new column to df called fruity_choco that adds the value in chocolate to the value in fruity. \nThis way, the value will be 0 if it is neither fruity nor chocolate, 1 if it is one or the other and 2 if it is both.\n\nStore the output in df.\n"

In [42]:
df = df.assign(fruity_choco = df['fruity'] + df['chocolate'])

In [43]:
df.head()

,competitorname,chocolate,fruity,hard,bar,multicandy_pack,sugarpercent,pricepercent,winpercent,fruity_choco
0,100 Grand,1,0,0,1,0,0.732,0.860,66.971725,1
1,3 Musketeers,1,0,0,1,0,0.604,0.511,67.602936,1
2,One dime,0,0,0,0,0,0.011,0.116,32.261086,0
3,One quarter,0,0,0,0,0,0.011,0.511,46.116505,0
4,Air Heads,0,1,0,0,0,0.906,0.511,52.341465,1

In [44]:
assert isinstance(df['fruity_choco'], pd.Series)

In [45]:
# see breakdown of 'fruity_choco' column
df['fruity_choco'].value_counts()

1    73
0    11
2     1
Name: fruity_choco, dtype: int64

In [46]:
'''
Q5e: neither
Take a look at the output above. How many candies are neither fruity nor chocolate? Store this value in the variable neither.
'''

'\nQ5e: neither\nTake a look at the output above. How many candies are neither fruity nor chocolate? Store this value in the variable neither.\n'

In [47]:
df.index

RangeIndex(start=0, stop=85, step=1)

In [48]:
neither = df['fruity_choco'].value_counts()[0]

In [49]:
assert neither >= 0 and neither <= len(df)

In [50]:
'''
Q6a: Slicing 
The concept of slicing can be combined with conditionals. For example, you can return all rows of a particular value.

Using value_counts() above on the fruity_choco column we created, we see that there is one candy that is both chocolate 
and fruity in our dataset. Let’s figure out which candy that was!

Use slicing to return the row from df where fruity_choco indicated the candy was both fruity and chocolate.

Store this DataFrame (which will have a single row) as both. Again using indexing, store the name of the candy that is 
both fruity and chocolate in the variable candy_name.
'''

'\nQ6a: Slicing\nThe concept of slicing can be combined with conditionals. For example, you can return all rows of a particular value.\n\nUsing value_counts() above on the fruity_choco column we created, we see that there is one candy that is both chocolate \nand fruity in our dataset. Let’s figure out which candy that was!\n\nUse slicing to return the row from df where fruity_choco indicated the candy was both fruity and chocolate.\n\nStore this DataFrame (which will have a single row) as both. Again using indexing, store the name of the candy that is \nboth fruity and chocolate in the variable candy_name.\n'

In [51]:
for value in range(0, len(df)):
    if df['fruity_choco'][value] == 2:
        both = df.loc[[value], :]

In [52]:
type(both)

pandas.core.frame.DataFrame

In [53]:
both.shape

(1, 10)

In [54]:
candy_name = both['competitorname'].to_string()
print(candy_name)

74    Tootsie Pop

In [55]:
assert type(both) == pd.DataFrame
assert both.shape == (1, 10)
assert isinstance(candy_name, str)

In [56]:
'''
Q6b: Filtering
Using this concept, filter df to only include rows that contain candy that is fruity or chocolate in some capacity 
(meaning, something that is both fruity and chocolate would be included).

Store this output in df.
'''

'\nQ6b: Filtering\nUsing this concept, filter df to only include rows that contain candy that is fruity or chocolate in some capacity \n(meaning, something that is both fruity and chocolate would be included).\n\nStore this output in df.\n'

In [57]:
df = df[(df['fruity_choco'] != 0)]

In [58]:
assert df.shape == (74, 10)
assert not any(df['fruity_choco'] == 0)

In [59]:
'''
Q7a: sort_values
Specifically, df is currently sorted in alphabetical order by competitor name (candy). What if we were most curious 
about the sugar percentile of where the candy falls within the dataset?

Arrange the rows in df such that the candy with the highest sugarpercent is displayed first and the lowest sugarpercent last. 
Store this in df.

Also, note that when using sort_values, the original indices are retained. So, also reset the index of df so that the highest 
sugarpercent candy is index 0.
'''

'\nQ7a: sort_values\nSpecifically, df is currently sorted in alphabetical order by competitor name (candy). What if we were most curious \nabout the sugar percentile of where the candy falls within the dataset?\n\nArrange the rows in df such that the candy with the highest sugarpercent is displayed first and the lowest sugarpercent last. \nStore this in df.\n\nAlso, note that when using sort_values, the original indices are retained. So, also reset the index of df so that the highest \nsugarpercent candy is index 0.\n'

In [60]:
df = df.sort_values(by=['sugarpercent'], ascending=False, ignore_index=True)

In [61]:
assert df.loc[0,'competitorname'] != '100 Grand'
assert np.allclose(df.loc[0,'sugarpercent'], 0.988)

In [62]:
# take a look at the first few rows
df.head()

,competitorname,chocolate,fruity,hard,bar,multicandy_pack,sugarpercent,pricepercent,winpercent,fruity_choco
0,Reese's stuffed with pieces,1,0,0,0,0,0.988,0.651,72.887901,1
1,Milky Way Simply Caramel,1,0,0,1,0,0.965,0.860,64.353340,1
2,Skittles wildberry,0,1,0,0,1,0.941,0.220,55.103695,1
3,Skittles original,0,1,0,0,1,0.941,0.220,63.085140,1
4,Air Heads,0,1,0,0,0,0.906,0.511,52.341465,1

In [63]:
'''
Q7b: Sugar Rush
Which candy in our dataset is the sugariest? Record your answer in the variable sugary. For example, 
if you thought the answer was A, you would submit sugary = 'A'.

A) Reese’s Miniatures

B) Chiclets

C) 100 Grand

D) Reese’s Stuffed with Pieces

E) Candy not listed here
'''

"\nQ7b: Sugar Rush\nWhich candy in our dataset is the sugariest? Record your answer in the variable sugary. For example, \nif you thought the answer was A, you would submit sugary = 'A'.\n\nA) Reese’s Miniatures\n\nB) Chiclets\n\nC) 100 Grand\n\nD) Reese’s Stuffed with Pieces\n\nE) Candy not listed here\n"

In [64]:
competitor = df['competitorname'][0].strip('"')
options = {'A':"Reese's Miniatures",
           'B': 'Chiclets',
           'C': '100 Grand',
           'D': "Reese's stuffed with pieces",}

for option in options:
    if options[option] == competitor:
        sugary = option
if sugary == '':
    sugary = 'E'

print(sugary)

D

In [65]:
assert isinstance(sugary, str)

In [66]:
'''
Q8a: Cost Interpretation
Looking at the output in the previous cell, which type of candy costs more, fruity candy or chocolate candy? 
Store your response in candy_cost. For example, if you thought the answer was A, you would submit candy_cost = 'A'.

A) chocolate costs more

B) fruity costs more

C) chocolate and fruity cost the same

D) can’t be determined
'''

"\nQ8a: Cost Interpretation\nLooking at the output in the previous cell, which type of candy costs more, fruity candy or chocolate candy? \nStore your response in candy_cost. For example, if you thought the answer was A, you would submit candy_cost = 'A'.\n\nA) chocolate costs more\n\nB) fruity costs more\n\nC) chocolate and fruity cost the same\n\nD) can’t be determined\n"

In [67]:
cost = df.groupby('chocolate').agg('mean')

In [68]:
try:
    if cost['pricepercent'][0] > cost['pricepercent'][1]:
        candy_cost = 'B'
    elif cost['pricepercent'][1] > cost['pricepercent'][0]:
        candy_cost = 'A'
    else:
        candy_cost = 'C'
except:
    candy_cost = 'D'


print(candy_cost)

A

In [69]:
assert isinstance(candy_cost, str)

In [70]:
'''
Q8b: specific column aggregation
Carrying out a similar operation, group df by fruity, and then calculate the minimum, average (mean), 
and maximum values, for the sugarpercent column only.

For this, fruity should be the name for the indices and your column names should be ‘min’, ‘mean’, and ‘max’.

Store this result in sugar_summary.

Note: the pandas documentation here may help you if you’re struggling to figure out the syntax¶
'''

'\nQ8b: specific column aggregation\nCarrying out a similar operation, group df by fruity, and then calculate the minimum, average (mean), \nand maximum values, for the sugarpercent column only.\n\nFor this, fruity should be the name for the indices and your column names should be ‘min’, ‘mean’, and ‘max’.\n\nStore this result in sugar_summary.\n\nNote: the pandas documentation here may help you if you’re struggling to figure out the syntax¶\n'

In [117]:
sugar_summary = (df.groupby('fruity').agg({'sugarpercent': ['min', 'mean', 'max']}))['sugarpercent']
sugar_summary.head()

          min      mean    max
fruity
0       0.034  0.509444  0.988
1       0.046  0.467895  0.941

In [110]:
assert type(sugar_summary) == pd.DataFrame
assert sugar_summary.index.name == 'fruity'
assert 'min' in sugar_summary.columns
assert np.isclose(sugar_summary.loc[0,'min'], 0.034)

In [112]:
'''
Q8c: Sugar Interpretation
Looking at the output in Q8b, which type of candy has the higher average sugar percentile, 
fruity candy or chocolate candy? Store your response in candy_sugar. For example, if you thought the answer was A, 
you would submit candy_sugar = 'A'.

A) chocolate has higher average sugar percentile

B) fruity candy has higher average sugar percentile

C) chocolate and fruity have the same average sugar percentile

D) can’t be determined
'''

"\nQ8c: Sugar Interpretation\nLooking at the output in Q8b, which type of candy has the higher average sugar percentile, \nfruity candy or chocolate candy? Store your response in candy_sugar. For example, if you thought the answer was A, \nyou would submit candy_sugar = 'A'.\n\nA) chocolate has higher average sugar percentile\n\nB) fruity candy has higher average sugar percentile\n\nC) chocolate and fruity have the same average sugar percentile\n\nD) can’t be determined\n"

In [119]:
try:
    chocolate_sugar_perc = sugar_summary['chocolate'][1]
    fruity_sugar_perc = sugar_summary['fruity'][1]
    if chocolate_sugar_perc > fruity_sugar_perc:
        candy_sugar = 'A'
    elif chocolate_sugar_perc < fruity_sugar_perc:
        candy_sugar = 'B'
    else:
        candy_sugar = 'C'
except:
    candy_sugar = 'D'

print(candy_sugar)

D

In [120]:
assert isinstance(candy_sugar, str)